[submodule "omz"]
  path = omz
  url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "omz/custom/plugins/zsh-autocomplete"]
  path = omz/custom/plugins/zsh-autocomplete
  url = https://github.com/marlonrichert/zsh-autocomplete.git

[submodule "omz/custom/plugins/catppuccin"]
  path = omz/custom/plugins/catppuccin
  url = https://github.com/catppuccin/ohmyzsh.git

[submodule "tmux/catppuccin"]
  path = tmux/catppuccin
  url = https://github.com/catppuccin/tmux.git

[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git

[submodule "omz/custom/plugins/zsh-autosuggestions"]
  path = omz/custom/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "omz/custom/plugins/zsh-syntax-highlighting"]
  path = omz/custom/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "omz/plugins/zsh-autocomplete"]
	path = omz/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "omz/plugins/zsh-autosuggestions"]
	path = omz/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "omz/plugins/zsh-syntax-highlighting"]
	path = omz/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "omz/custom/plugins/spaceship-vi-mode"]
  path = omz/custom/plugins/spaceship-vi-mode
  url = https://github.com/spaceship-prompt/spaceship-vi-mode.git

[submodule "nvim/plugged/hardtime.nvim"]
	path = nvim/plugged/hardtime.nvim
	url = https://github.com/m4xshen/hardtime.nvim.git
